#superhero-box{
    margin: auto;
    display: flex;
    width: 60vw;
    justify-content: space-evenly;
    font-size: 1.5rem;
    flex-wrap: wrap;

}

img {
    height: 60vh;
}


i{
    font-size: 2rem;
}